.page {
    width: 95%;
    height: 95%;
    margin-top: 5%;
    margin-bottom: 5%;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    margin-left: auto;
    margin-right: auto;
    /* vertical-align: middle; */
    background-color: #FDFDFD;
    border-radius: 50px;
}

#name-card {
    width: 80%;
    margin: auto;
    padding-top: 2%;
    /* vertical-align: middle; */
}

.avatar {
    /* margin-top: 5%; */
    /* margin-bottom: 5%; */
}

.tab-menu {
    width: 90%;
    margin: auto;
}