.segment-wrapper{
    margin: 20px 7em;
}
.ride-info{
    display: flex;
    flex-direction: row;
    position: relative;
}
.left-column {
    display: flex;
    flex-direction: column;
}

.center-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1.5;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 2em;
}

.right-column {
    display: flex;
    flex-direction: column;
    padding: 15px 1em;
}

.itinerary {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

h5 {
    margin: 8px 0px !important;
}

h5 span{
    font-size: 12px !important;
    font-weight: lighter !important;
}

.location {
    display: inline-block;
    margin-right: 5px;
}

.driver-name {
    margin-bottom: 0px !important;
}

.padding {
    padding: 5px 0px;
}

.ride-detail-wrapper {
    display: block;
}

.detail-icon {
    display: inline;
}

.ride-detail {
    margin-top: 7px;
    font-size: 18px;
    font-weight: normal;
    color: #EF724B;
}

.indent {
    padding-left: 22px;
    padding-top: 5px;
}
.indent2 {
    padding-left: 50px;
    padding-top: 5px;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 16px;
    margin: 5px 0;
}

.label-white-background{
    margin-top: 13px !important;
    background: white !important;
}

.label-white-background span {
    font-size: 12px !important;
    font-weight: lighter !important;
}

.font-medium{
    font-size: 14.5px !important;
}

.font-small{
    font-size: 12.5px !important;
}
