.ride {
    border-style: solid;
    border-width: medium;
    width: 350px;
    height: 70px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 7px;
}
