.ride {
    border-style: solid;
    border-width: medium;
    width: 450px;
    height: 90px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.accordion {

}

.accordion-title {
    position: relative;
    background-color: beige;
}

.accordion-dropdown {
    margin: 0;
    background-color: #ffe8b3;
    display: block;
    position: relative;
    height: 50px;
}

.dropdown-icon {
    position: absolute;
    right: 5px;
    top: 10px;
}

.view-button {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
