.noBorderBottom {
    border-bottom: none !important;
}
.largeFont{
    font-size: 25px;
}
.brand{
    color: #EF724B;
    font-weight: bolder;
}
.createRideBtn{
    color: #EF724B !important;
    box-shadow: 15px -16px 0px 2px transparent inset, -1.5px -0.3em 0px 0px rgba(39, 41, 43, 0.15) inset !important;
    background: white !important;
}
.navbar{
    position: absolute !important;
    width: 100%;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    padding-left: 20px !important;
    padding-right: 35px !important;
}