.driver-info{
    /* position: absolute; */
    padding: 10px;
    width: 35%;
    background: #FFFFFF;
    border: 2px solid #989898;
    box-sizing: border-box;
    margin: 2% auto;
    height: fit-content;
}

.input-form{
    position: absolute;
    margin: 5% 15% ;
}

#close-icon{
    display: flex;
    justify-content: flex-end;

}

#submit-button{
    width: 100%;
    color:white;
    background-color: black;
}

#submit-button:hover{
    color: black;
    background-color: rgb(197, 196, 196);
}

