/* TODO: This is hacky and could probably break */
input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    transform: translateX(-115px);
}
.geoSearch > div > input {
    width: 100% !important;
    height: 32px !important;
}

.listingGrid {
    background-size: cover !important;
    height: calc(100% - 64px);
    margin: 0 !important;
}

.mainColumn {
    height: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}