.search-box {
    display: inline-flex;
    /*border-width: 2px;*/
    /*border-style: solid;*/
    margin: 0 auto;
    height: 60px;
    text-align: left;
}

.search-field {
    display: inline-block;
    text-align: left;
    /*border-right: 2px dotted red;*/
    margin: 5px;
    min-width: 180px;
    padding-right: 10px;
}

.field-desc {
    display: block;
    margin-bottom: 5px;
}

.search-button {
    /*display: block;*/
    display: flex;
    height: 100%;
    /*background-color: #9C4A7A;*/
    background-color: #E58D71;
    border-radius: 15px;
    padding: 0 10px;
    color: white;
    margin-left: -10px;
    white-space: nowrap;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.search-button:hover {
    background-color: #7f3d59;
    cursor: pointer;
}

.date-picker-box {
    /*border: 2px dotted red!important;*/
}
