.search-wrapper {
    padding: 10px;
    text-align: center;
}

.search-box {
    display: inline-flex;
    border-width: 2px;
    border-style: solid;
    margin: 5px;
}

.search-field {
    display: inline-block;
    text-align: left;
    border-right: 2px solid black;
    margin: 5px;
    min-width: 180px;
    padding-right: 10px;
}

.field-desc {
    display: block;
    margin-bottom: 5px;
}


.search-button {
    /*display: block;*/
    display: inline-block;
    height: 100%;
    padding: 20px 10px;
    background-color: black;
    color: white;
    margin-left: -10px;
    min-width: 98px;
    white-space: nowrap;
}

.search-button:hover {
    background-color: #3a4a49;
}

.date-picker-box {
    /*font-size: 16px;*/
    border: none;
    outline: none;
    border-bottom: 1px solid black;

}