.search-wrapper {
    padding: 10px;
    text-align: center;
}

.search-subwrapper {
    width: 700px;
    text-align: center;
    /*background-color: #d4b7ff;*/
    display: block;
    margin: 0 auto;
}

.ride-type-wrapper {
    /*width: 150px;*/
    display: flex;
    /*height: 25px;*/
}

/* !important needed to override default semantic ui styles*/
.ride-type-selector {
    display: flex!important;
    padding-left: 10px!important;
    /*height: 10px!important;*/
    border: none!important;
    background: none!important;
}

.active { /* semantic ui override */
    outline: 2px solid black!important;
}

.transition { /* semantic ui override */
    outline: 2px solid black!important;
    border: none!important;
}

.search-box {
    display: inline-flex;
    border-width: 2px;
    border-style: solid;
    /*margin: 5px;*/
    margin: 0 auto;
    height: 60px;
}

.search-field {
    display: inline-block;
    text-align: left;
    border-right: 2px solid black;
    margin: 5px;
    min-width: 180px;
    padding-right: 10px;
}

.field-desc {
    display: block;
    margin-bottom: 5px;
}


.search-button {
    /*display: block;*/
    display: flex;
    height: 100%;
    background-color: black;
    padding: 0 10px;
    color: white;
    margin-left: -10px;
    white-space: nowrap;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.search-button:hover {
    background-color: #3a4a49;
    cursor: pointer;
}

.date-picker-box {
    /*font-size: 16px;*/
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
